body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #bbb1b1; /* Fallback background color */
}

header, footer {
  text-align: center;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 1;
  position: relative;
}

main {
  padding: 2em;
  position: relative;
  z-index: 1;
}

nav a {
  margin: 0 1em;
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
